<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties version="1.0">
  <entry key="plugin.TestPlugin">com.plugin.test.TestPluginModule</entry>
  <entry key="path.category">D:\Java\MP3CategoriserGUI\Kategorien.txt</entry>
  <entry key="path.music">D:\Tools\Debug_Info\Musik\Smashing Pumpkins</entry>
  <entry key="path.export">D:\Java\MP3CategoriserGUI\MP3CategoriserDB.txt</entry>
</properties>